
#dump {
    margin: auto;
    text-align: center;
    padding-top: 50px;

    a {
        margin: auto;
        margin-top: 20px;
        display: block;
        width: 260px;
        padding: 30px 0;
        border: 2px solid white;
        text-transform: uppercase;
        font-weight: bold;
        user-select: none;

        img {
            width: 45px;
            height: auto;
            display: block;
            margin: auto;
            margin-bottom: 5px;
        }
    }
}
