
#front {
    text-align: center;
    @include not_tablet {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    > .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include not_tablet {
            height: 100%;
        }
        @include tablet {
            max-width: 370px;
            margin: auto;
            padding: 0 10px;
        }

        .logo {
            margin-bottom: 35px;

            img {
                width: 100%;
                height: auto;
                @include not_tablet {
                    max-width: 375px;
                }
            }
        }
        .search {
            @include tablet {
                padding: 0 5px;
            }

            > div {
                position: relative;
                margin: auto;
                margin-bottom: 45px;
                @include not_tablet {
                    max-width: 360px;
                }
                @include tablet {
                    margin-bottom: 40px;
                }

                > .text-input {
                    input {
                        height: 36px;
                        padding-left: 40px;
                        background-image: url(/static/search.svg);
                        background-repeat: no-repeat;
                        background-position: 2px center;
                        background-size: 35px 35px;
                    }
                }
                > ul {
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 100%;
                    background: white;
                    color: black;
                    animation: .25s fadeIn;
                    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
                    font-weight: 300;

                    li.msg {
                        padding: 20px 0;
                    }
                    li a {
                        display: block;
                        padding: 8px 0;
                        border-bottom: 1px solid rgb(150, 150, 150);
                        &:hover {
                            background: $white_hover
                        }
                    }
                    li:last-child a {
                        border-bottom: none;
                    }
                }
            }
        }
        .last {
            margin-right: auto;
            margin-left: auto;
            margin-top: 0;

            @include not_tablet {
                display: flex;
                width: 600px;
                margin-bottom: 35px;
            }
            @include tablet {
                width: 100%;
                margin-bottom: 40px;
            }

            > div.shows, > div.bootlegs {
                word-wrap: break-word;
                @include not_tablet {
                    width: 50%;
                    padding: 0 25px;
                }

                h3 a {
                    display: block;
                    text-transform: uppercase;
                    margin-bottom: 4px;
                }
                .list {
                    a {
                        @include not_tablet {
                            display: flex;
                            align-items: center;
                            height: 65px;
                        }
                        @include tablet {
                            display: block;
                            padding: 4px 0;
                            border-bottom: 1px solid $sep_color;
                            &:last-child {
                                border-bottom: none;
                            }
                        }

                        span {
                            word-wrap: break-word;
                            font-size: 90%;
                            @include tablet {
                                display: block;
                                margin: auto;
                            }

                            &.tour {
                                width: 45px;
                                img {
                                    width: 30px;
                                    height: 30px;
                                    margin-top: 5px;
                                }
                            }
                            &.title {
                                @include not_tablet {
                                    width: calc(100% - 45px);
                                }
                            }
                        }
                    }
                }
            }
            > div.shows {
                @include not_tablet {
                    text-align: right;
                    a {
                        flex-direction: row-reverse;
                    }
                }
                @include tablet {
                    margin-bottom: 45px;
                }
            }
            > div.bootlegs {
                @include not_tablet {
                    text-align: left;
                }
            }
            > div.sep {
                border-left: 1px solid $sep_color;
                width: 0;
                @include tablet {
                    display: none;
                }
            }
        }
        .info {
            font-size: 90%;
            a {
                text-transform: uppercase;
                font-weight: bold;
            }
            .stats {
                margin-bottom: 5px;
            }
        }
    }
}
