
@import "_variables.scss";

@import url("https://fonts.googleapis.com/css?family=Muli:200,300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap");

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
}
html, body, body > .inner {
    height: 100%;
}
body {
    font-family: "Muli", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: white;

    > .inner {
        display: block;
        animation: .4s fadeIn;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        @mixin link_hover;
    }
}

header {
    @mixin not_tablet {
        height: $header_height;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
    }

    #menu-toggle {
        display: none;
    }
    label {
        display: none;
        cursor: pointer;
        width: 70px;
        height: $header_height_tablet;
        padding: 8px;

        img {
            width: 100%;
            height: 100%;
        }
    }
    @mixin tablet {
        label {
            display: flex;
        }
        #menu-toggle:checked + label {
            background: rgb(100, 100, 100);
            transition: .25s;
        }
        #menu-toggle:checked + label + nav {
            display: block;
        }
    }
    nav {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 13px;
        @mixin not_tablet {
            height: 100%;
        }
        @mixin tablet {
            display: none;
            animation: .25s fadeIn;
            background: rgb(100, 100, 100);
        }

        ul {
            height: 100%;
            @mixin not_tablet {
                display: flex;
            }
        }
        li {
            @mixin tablet {
                display: block;
            }
        }
        a {
            @mixin not_tablet {
                height: 100%;
                padding: 0 25px;
                display: block;
                line-height: $header_height;
            }
            @mixin tablet {
                display: block;
                padding: 30px 0;
                text-align: center;
            }

            &:hover {
                cursor: pointer;
            }
        }
        a.current {
            @mixin not_tablet {
                position: relative;
                &:after {
                    content: "";
                    width: 100%;
                    height: 3px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: white;
                }
            }
        }
    }

    a.logo {
        display: none;
        @mixin tablet {
            display: flex;
        }
        align-items: center;
        width: 180px;
        height: $header_height_tablet;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;

        img {
            height: 32px;
            width: 100%;
        }
    }
}

main {
    display: block; /* for ie11 */
    max-width: $page_max_width;
    margin: auto;
    min-height: calc(100% - $header_height);
    position: relative;
    padding: 0 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    @mixin tablet {
        min-height: calc(100% - $header_height_tablet);
        padding-left: 10px;
        padding-right: 10px;
        border-top: 1px solid $sep_color;
        &.front {
            padding-top: 20px;
            border-top: none;
        }
    }

    .title {
        .parent {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 18px;
            color: rgb(200, 200, 200);

            @mixin tablet {
                font-size: 15px;
            }
        }
        h1 {
            word-wrap: break-word;
            font-size: 38px;
            text-transform: uppercase;
            margin-bottom: 20px;
            @mixin tablet {
                font-size: 28px;
            }
        }
    }
}

footer {
    background: black;
    padding: 0 5px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 11px;
    text-align: center;

    .source {
        img {
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-top: -2px;
            margin-right: 3px;
        }
    }
}

img.media-type-icon {
    width: 20px;
    height: 20px;
    display: inline;
    margin-top: -3px;
    vertical-align: middle;
    margin-right: 2px;
}
